@import url("https://fonts.cdnfonts.com/css/sofia-pro");

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Sofia Pro", sans-serif;
    background-color: #44332d;
    user-select: none;
    height: 200rem;
}

header{
    display: flex;
    flex-direction: column;
}

#header--small{
    display: flex;
    justify-content: space-between;
    padding: 0 7.5%;
}

#header--socials{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header--socials_links{
    background-color: #fcf7f2;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100%;
    margin: 16px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.header--socials_links:hover{
    opacity: 80%;
}

.header--socials_links:active{
    opacity: 100%;
}

.socials--img{
    position: absolute;
    width: 18px;
}

#header--small_links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcf7f2;
}

.header--link_list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 2rem;
}

.header--link{
    all: unset; 
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.header--link:hover{
    opacity: 80%;
}

.hover_color:active{
    opacity: 100%;
}

#header--big{
   padding: 1rem 7.5%;
   background-color: #fcf7f2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

#logo--img{
    height: 100px;
}

#header--big_links{
    color: #44332d;
    display: flex;
    letter-spacing: 3px;
    transition: color 0.2s ease-in-out;
}

.hover_ul:after{
    content: '';
    display: block;
    width: 0%;
    background-color: #44332d;
    height: 2px;
    border-radius: 20px;
    margin-inline: auto;
    transition: all 0.2s ease-in-out;
}

.hover_ul:hover:after{
    opacity: 80%;
    width: 100%;
}

.hover_ul:active:after{
    animation: ul-active__anim 0.3s infinite;
    transition: all 0.2s ease-in-out;
}

@keyframes ul-active__anim{
    0%{width: 0%;}
    100%{width: 100%;}
}


#search--button{
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0.5rem;
    height: 21px;
    margin: 16px;
    transition: all 0.2s ease-in-out;
}

#search--button:hover{
    background-color: #44332d20;
    cursor: pointer;
}

#search--button_img{
    height: inherit;
}

#main--bg_wrapper{
    position: relative;
    background-color: #fcf7f2;
    height: 35rem;
    overflow: hidden;
}

#main--bg_wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #44332d50;
    z-index: 1;
}

.bg_img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
    animation: image_opacity 12s infinite;
}

.bg_img:nth-of-type(1){
    background-image: url(./assets/1.jpg);
    animation-delay: 0s;
}

.bg_img:nth-of-type(2){
    background-image: url(./assets/2.jpg);
    animation-delay: 4s;
}

.bg_img:nth-of-type(3){
    background-image: url(./assets/3.jpg);
    animation-delay: 8s;
}

@keyframes image_opacity{
    0% { opacity: 0; }
    10% { opacity: 1; }
    40% { opacity: 1; } 
    50% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 0; }
}













